### 1. Write a lambda function to rearrange positive and negative numbers in a given list

In [33]:
mylist = [-1, 2, -3, 4, -5, 6, -7, 8, -9, 10, -11, 12]

new_list1 = list(filter(lambda x: x > 0, mylist))
new_list2 = list(filter(lambda x: x < 0, mylist))

new_list2.sort()
new_list2

new = new_list1 + new_list2
new

[2, 4, 6, 8, 10, 12, -11, -9, -7, -5, -3, -1]

In [38]:
new_list = lambda mylist: [x for x in mylist if x>0] + sorted([x for x in mylist if x < 0])
new_list(mylist)

[2, 4, 6, 8, 10, 12, -11, -9, -7, -5, -3, -1]

### 2. Create a new dataframe using week_11/temperatures/temperature.csv file from last class. It should have the datetime column and one of the cities. Create a new boolean column called is_freezing that indicates if the temperature is at or below freezing. Use a lambda to create this column. Is there a better way to do this than with a lambda?

In [20]:
# load the data and choose a column

import pandas as pd

temperatures = pd.read_csv('temperatures/temperature.csv', parse_dates = True, index_col = 'datetime')
one_city = temperatures.iloc[:, 0:1].dropna()
one_city.head(2)

                      Vancouver
datetime
2012-10-01 13:00:00  284.630000
2012-10-01 14:00:00  284.629041

In [4]:
# create new column using lambda

freezing = one_city.assign(freeze = lambda x: x <= 273.15).dropna()
freezing['freeze'].value_counts()

False    42531
True      1927
Name: freeze, dtype: int64

In [19]:
# or do the same simply using pandas property that it can compare all cells with a value and return a dataframe with the result

is_freezing = one_city < 273.15
is_freezing.head(2)

                     Vancouver
datetime
2012-10-01 13:00:00      False
2012-10-01 14:00:00      False
2012-10-01 15:00:00      False
2012-10-01 16:00:00      False
2012-10-01 17:00:00      False

### 3. BONUS: if you still have time, try to do a pivot of the data in question 2 so you have the hourly data for all the cities and a flag for if it's freezing.

In [17]:
# create a dataframe that shows for every city at every hour if it is freezing or not

bigfreeze = temperatures <= 273.15
bigfreeze.head(2)

,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,Denver,...,Philadelphia,New York,Montreal,Boston,Beersheba,Tel Aviv District,Eilat,Haifa,Nahariyya,Jerusalem
datetime,,,,,,,,,,,,,,,,,,,,,
2012-10-01 12:00:00,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2012-10-01 13:00:00,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [21]:
# because false and true are represented as 0 and 1, we can look if true is present in any column using max()

table = bigfreeze.max()
table.to_frame().rename(columns = {0:'Ever freezes'}) # put the result to frame and rename column

                   Ever freezes
Vancouver                  True
Portland                   True
San Francisco              True
Seattle                    True
Los Angeles                True
San Diego                  True
Las Vegas                  True
Phoenix                    True
Albuquerque                True
Denver                     True
San Antonio                True
Dallas                     True
Houston                    True
Kansas City                True
Minneapolis                True
Saint Louis                True
Chicago                    True
Nashville                  True
Indianapolis               True
Atlanta                    True
Detroit                    True
Jacksonville               True
Charlotte                  True
Miami                     False
Pittsburgh                 True
Toronto                    True
Philadelphia               True
New York                   True
Montreal                   True
Boston                     True
Beersheba                  True
Tel Aviv District          True
Eilat                      True
Haifa                      True
Nahariyya                  True
Jerusalem                  True